.check-body {
  .check-title {
    background-color: #1B1B1B;
    text-align: center;
    color: white;
    padding: 30px;
  }

  .check-header {
    height: 500px;
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;

    .check-image {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 5px solid #7B787D;
      color: white;
      text-align: center;
      font-size: 80px;
      margin-top: 60px;

      .upload-label {
        font-size: 28px;
      }

      .at-activity-indicator {
        display: flex;
        justify-content: center;
        margin: 20px 0 40px 0;
      }

    }
  }

  .disclaimer-body {
    margin: 40px;
    padding: 0 40px 40px 40px;
    position: relative;
    top: -160px;
    background-color: white;
    box-shadow: 0px 6px 13px 0px #ddd;

    .disclaimer-title {
      text-align: center;
      font-size: 36px;
      padding: 20px 0;
      font-weight: bold;
    }

    .disclaimer-text {
      font-size: 24px;
      margin-top: 20px;
    }
  }

  .check-result {
    margin-bottom: 20px;
    text-align: center;
    color: green;
  }
  .at-radio__title{
    font-size: 28px;
  }

}
