.check-body {
  .check-header {
    height: 600px;
    background-color: #1B1B1B;
    display: flex;
    justify-content: center;

    .check-image {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 5px solid #7B787D;
      color: white;
      text-align: center;
      font-size: 80px;
      margin-top: 80px;

      .upload-label {
        font-size: 28px;
      }

    }
  }

  .disclaimer-body {
    margin: 40px;
    padding: 0 40px 40px 40px;
    position: relative;
    top: -160px;
    background-color: white;
    box-shadow: 0px 6px 13px 0px #ddd;

    .disclaimer-title {
      text-align: center;
      font-size: 36px;
      padding: 20px 0;
      font-weight: bold;
    }

    .disclaimer-text {
      font-size: 12px;
    }
  }

}
