.check-body {
  .check-header {
    height: 600px;
    background-color: #1B1B1B;
  }

  .disclaimer-body {
    margin: 40px;
    padding: 0 40px;
    position: relative;
    top: -160px;
    background-color: white;

    .disclaimer-title {
      text-align: center;
      font-size: 28px;
      margin: 40px 0;

    }

    .disclaimer-text {
      font-size: 12px;
    }
  }

}
